<%include partials/header %>

  </header>
  <main class="container flex center">
    <div class="main form-h1">
      <h1>My Dashboard</h1>
    </div>
    <div class="container btns-dash ">
      <a href="/articles/view/income" class="create dashboard">View Incomes</a>
      <a href="/articles/view/expanse" class="create dashboard">View Expanses</a>
      <a href="/articles/view/saving" class="create dashboard">View Saving</a>
      <a href="/articles/view/filters" class="create dashboard">Goto Filters</a>

    </div>

   

  </main>
  <%include partials/footer%>