<%include partials/header %>
    <main class="container">
       
        <h1>Enter your new Password</h1>
        <div class="form">

       
        <form action="/users/new/password" method="POST">
            <input type="password" name="password" id="" placeholder="Enter your new password">
            <input type="submit" name="" id="" value="Submit">
        </form>
    </div>
    </main>
    <%include partials/footer%>