<%include partials/header %>

  </header>
  <main class="container flex center">
    <div class="main form-h1">
      <h1>Fill the details</h1>
    </div>
    <div class="container btns-dash ">
        <form action="/articles/dateAndCategory" method="POST">
           
            <input type="date" name="date" id="" placeholder="from">
            <input type="text" name="category" id="" placeholder="Enter the Category">
        
           <input type="submit" name="" id="" value="search">
        </form>
        

    </div>
    
   

  </main>
  <%include partials/footer%>