<%include partials/header %>
  <main class="container flex center">
    <div class="main form-h1">
      <h1>Fill the below details</h1>
    </div>
    <div class="form">
        <form action="/articles/expanse" method="POST">
            <input type="text" name="category" id="" placeholder="Enter the category">          
            <input type="number" name="amount" id="" placeholder="Enter the amount">
            <input type="submit" value="Add Expanse" class="submit">
        </form>
    
    </div>
  </main>
  <%include partials/footer%>