<%include partials/header %>

  </header>
  <main class="container flex center">
    <div class="main form-h1">
      <h1>My All Filters</h1>
    </div>
    <div class="container btns-dash ">
        <a href="/articles/view/startAndEndDate" class="create dashboard">Goto Start and End date</a>
        <a href="/articles/view/sourceAndCategory" class="create dashboard">Goto Source and Category</a>
        <a href="/articles/view/dateAndCategory" class="create dashboard">Goto Date and Category</a>
        <a href="/articles/view/monthAndYear" class="create dashboard">Goto Month and Year</a>


    </div>
    
   

  </main>
  <%include partials/footer%>