<%include partials/header %>
    <main class="container">
       
        <h1>Enter your Email</h1>
        <div class="form">

       
        <form action="/users/forgot/email" method="POST">
            <input type="email" name="email" id="" placeholder="Enter your email">
            <input type="submit" name="" id="" value="Submit">
        </form>
    </div>
    </main>
    <%include partials/footer%>