<%include partials/header %>
    <main class="container">
       
        <h1>Update Your Password</h1>
        <div class="form">

       
        <form action="/users/forgotPassword" method="POST">
            <input type="email" name="email" id="" placeholder="Enter your email">
            <input type="password" name="newPassword" id="" placeholder="Enter your new password">
            <input type="submit" name="" id="" value="Submit">
        </form>
    </div>
    </main>
    <%include partials/footer%>