<%include partials/header %>
    <main class="container">
       
        <h1>Enter your OTP</h1>
        <div class="form">

       
        <form action="/users/forgotOtp" method="POST">
            <input type="number" name="otp" id="" placeholder="Enter your otp">
            <input type="submit" name="" id="" value="Submit">
        </form>
    </div>
    </main>
    <%include partials/footer%>