<%include partials/header %>
  <main class="container flex center">
    <p class="login-msg"><%=error%></p>
    <div class="main">
    
      <h1>Welcome to My Blog</h1>
     
    </div>
    <div class="goto">
     <a href="/articles/articleList">
      Goto My Dashboard
     </a>
     <a href="/articles/new/income" class="create">Add Income</a>
     <a href="/articles/new/expanse" class="create">Add Expanse</a>
    </div>
  </main>
  <%include partials/footer%>