<%include partials/header %>
  <main class="container flex center">
    <p class="login-msg"><%=error%></p>
    <div class="main">
    
      <h1>Welcome to My Blog</h1>
     
    </div>
    <div class="goto">
     <a href="/articles">
      Goto My Articles
     </a>
     <a href="/articles/new" class="create">Create Article</a>
    </div>
  </main>
  <%include partials/footer%>