<%include partials/header %>

  </header>
  <main class="container flex center">
    <div class="main form-h1">
      <h1>Fill the details</h1>
    </div>
    <div class="container btns-dash ">
        <form action="/articles/monthAndYear" method="POST">
           
            <input type="number" name="month" id="" placeholder="Enter the month">
            <input type="number" name="year" id="" placeholder="Enter the year">
        
           <input type="submit" name="" id="" value="search">
        </form>
        

    </div>
    
   

  </main>
  <%include partials/footer%>