<%include partials/header %>

  </header>
  <main class="container flex center">
    <div class="main form-h1">
      <h1>Fill the details</h1>
    </div>
    <div class="container btns-dash ">
        <form action="/articles/sourceAndCategory" method="POST">
            
            <input type="text" name="source" id="" placeholder="Enter the source">
            <input type="text" name="category" id="" placeholder="Enter the category">
          

     
            <input type="submit" name="" id="" value="search">
        </form>
        

    </div>
    
   

  </main>
  <%include partials/footer%>