<%include partials/header %>

  </header>
  <main class="container flex center">
    <div class="main form-h1">
      <h1>Fill the details</h1>
    </div>
    <div class="container btns-dash ">
        <form action="/articles/startAndEndDate" method="POST">
            <label for="date">From
            <input type="date" name="date" id="" placeholder="from">
           </label>

           <label for="date">To:
            <input type="date" name="date" id="" placeholder="to">
           </label>
     
            <input type="submit" name="" id="" value="search">
        </form>
        

    </div>
    
   

  </main>
  <%include partials/footer%>