<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <p>Welcome </p>
     <h2 class="pass">Authentication Successful</h2>
  </body>
</html>